body {
  font-family: 'Roboto', sans-serif;
}

.item-block-wrapper {
  background-color: #e84c3d;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-short-name {
  background-color: #ee8275;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 500;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
